@import "reset";
@import "variables";
@import "mixins";

body{
    font-size: $font-size;
    font-family: $body-font;
}
//navbar styling
.navbar{
    ul{
        display:flex;
        width:100%;
        align-items:center;
        background-color:$nav-bar-color;
        color:$white;
        padding:10px 0px 0px 0px;
        @include mq(600px){
            flex-wrap:wrap;
        }

        li{
            list-style-type: none;
            padding: 1.2rem;
        }
        a{
            text-decoration: none;
            color:$white;
            opacity: 0.7;
        }
    }
    button{
        padding:12px 20px;
        color:$very-dark-grayish-blue;
        background-color: $white;
        font-family: $heading-font;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 15px;
        border:none;
        transition-duration: 0.4s;
        //box-shadow: 0 4px 8px rgba(255,255,255,0.2);
        &:hover{
            //color:$white;
            background-color: rgba(255,255,255,0.5);
           //opacity: 0.4;
           cursor: pointer;
           color:$white;
           
           
            
        }
    }
}
.navbar-logo{
    flex:1;
    user-select: none;
    //padding:30px 5px;
}
.navbar-toggle{
    display: none;
    @include mq(600px){
        display:block;
    }
}
.navbar-links{
    @include mq(600px){
        display:none;
        width:100%;
        text-align: center;
    }
    &:hover{
        /*background-color:$white;
        opacity: 0.1;
        border-radius: 25px;*/
        text-decoration: underline;

        a{
            color:$white;
        }
    }
    
}
@include mq(600px){
    .active{
        display:block;
    }
}
